#header{ 
	width: 100%;
	height: 60px;
}

#header a {
	float: right;
} 

a {
	color: #666666;
	text-decoration: none;
	font-size: small;
	font-family: Arial;
	padding: 5px 8px 5px 8px;
	display: inline;
	list-style-type: none;
}

#content{

	position: relative;
	width: 100%;
	height: 530px;

}

img {
	height: 95px;
	width: 400px;
	position: absolute;
	top: 120px;
	left:483px;



}

#search_field {
	width: 500px;
	position: absolute;
	top: 220px;
	left:423px;
}

#button{
	position: absolute;
	top: 250px;
	left:500px;
}

#footer{
	width: 100%;
	height: 60px;
	background-color: #5CB3FF;
	position: relative;

}

#left-footer{
	position: absolute;
	top:25px;
	left: 20px;
}
#right-footer{
	position: absolute;
	top:25px;
	right: 20px;
}